<div id="home" class="py-4"></div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  
  <div class="carousel-indicators">
  <% if(typeof slides !== "undefined") { %> 
    <% for( let idx in slides) { %> 
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= idx %>" class="<%= slides[idx].class %>" aria-current="true" aria-label="Slide <%= idx + 1 %>"></button>
            <% } %> 
            <% } %> 
          </div>

    <div class="carousel-inner">
  <% if(typeof slides !== "undefined") { %> 
    <% slides.forEach( (slide,index) => { %> 
        <div class="carousel-item <%= slide.class %>">
          <img src="<%= slide.imgUrl %>" class="d-block w-100 img__link"  alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5> <%= slide.title %>  </h5>
            <p> <%= slide.subtitle %> </p>
          </div>
        </div>
        <% }) %> 
        <% } %> 
      </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>