<div id="gallery" class="py-5"></div>
<div class="gallery-page">
  <div class="container">
    <h2 class="text-capitalize text-center"><%= gallery.title %></h2>
    <br>
    <p class="text-muted"><%= gallery.description %></p>
    <br>

    <div class="album">
      <!-- Gallery -->
<div class="row">
  <% for(let i = 0; i < gallery.images.length-1 ; i= i+2){ %>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src=<%= gallery.images[i].url %>
      class="w-100 shadow-1-strong rounded mb-4"
      alt=<%= gallery.images[i].name%>
    />
    <img
      src=<%= gallery.images[i+1].url %>
      class="w-100 shadow-1-strong rounded mb-4"
      alt=<%= gallery.images[i +1].name%>
    />
  </div>
  <% } %>

</div>
<!-- Gallery -->
    </div>
  </div>
</div>
