<%- include("../partials/navbar") %> 
<div class="home-page">
<%- include("../partials/carousel") %> 
<%- include("../partials/hero") %> 
<%- include("./gallery") %> 
<%- include("../partials/services") %> 
<%- include("./contact-us") %> 

</div>
<%- include("../partials/footer") %> 